<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prosesses - {{ project }} - pyspider</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="description" content="processes of {{ project }}">
    <meta name="author" content="binux">
    <link href="{{ url_for('cdn', path='twitter-bootstrap/3.1.1/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='process.min.css') }}" rel="stylesheet">

    <script src="{{ url_for('cdn', path='jquery/1.11.0/jquery.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='twitter-bootstrap/3.1.1/js/bootstrap.min.js') }}"></script>
  </head>

  <body>
    <div class="top-bar" style="height: 105px;">
      <h1>{{ project }} - Processes</h1><br/>
      <div>
          <form method="get" action="/process">
              <input type="hidden" name="group" value="{{ group }}" />
              <input type="hidden" name="project" value="{{ project }}" />
              <input type="hidden" name="offset" value="{{ offset }}" id="offset" />
              <input type="hidden" name="limit" value="{{ limit }}" id="limit" />
              <input type="hidden" name="current_page" value="{{ int(offset/limit) + (1 if offset % limit else 0) }}" id="current_page" />
              <input type="hidden" name="total_page" value="{{ int(count/limit) + (1 if count % limit else 0) }}" id="total_page" />
              <span>
                taskid：
                <input name="taskid" style="width: 300px;" value="{{ taskid }}" />
              </span>
              <span>
                url：
                <input name="url" style="width: 600px;" value="{{ url }}" />
              </span>
              <span>
                type：
                <select name="type" id="search_type">
                  <option value="all">全部</option>
                  <option value="1">开始</option>
                  <option value="2">列表页</option>
                  <option value="3">详情页</option>
                  <option value="4">结束</option>
                </select>
              </span>
              <span>
                status：
                <select name="status" id="search_status">
                  <option value="" selected="selected">全部</option>
                  <option value="1,2,3,11,12,13,14,21,22,23,31,33">快速筛选抓取失败任务</option>
                  <option value="1">任务创建</option>
                  <option value="2">任务已发到scheduler2fetcher队列成功</option>
                  <option value="3">任务已发到scheduler2fetcher队列失败</option>
                  <option value="11">fetcher开始处理</option>
                  <option value="12">fetcher处理成功，任务发送到fetcher2processor队列</option>
                  <option value="13">fetcher获取失败</option>
                  <option value="14">fetcher队列发送失败</option>
                  <option value="21">processor开始处理</option>
                  <option value="22">processor处理成功，任务发送到processor2result队列</option>
                  <option value="23">processor处理失败</option>
                  <option value="31">result_worker开始处理</option>
                  <option value="32">result_worker处理完成</option>
                  <option value="33">result_worker处理失败</option>
                </select>
              </span>
              <span>
                <button id="submit" type="submit" style="display: none" class="project-create btn btn-default btn-primary">Search</button>
                <button id="btn_submit" type="button" class="project-create btn btn-default btn-primary">Search</button>
              </span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span>
                <a class="btn btn-default btn-xs" href="/results?project={{ project }}&group={{ group }}" target=_blank>Results</a>
              </span>
          </form>
      </div><br/>
      <div class="btn-group">
        <a href="/processes/dump/{{ project }}-{{ group }}.json"
          target="_blank" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-download-alt"></span>
          JSON</a>
        <a href="/processes/dump/{{ project }}-{{ group }}.txt"
          target="_blank" class="btn btn-default btn-sm">URL-JSON</a>
        <a href="/processes/dump/{{ project }}-{{ group }}.csv"
          target="_blank" class="btn btn-default btn-sm">CSV</a>
      </div>
    </div>
    <table class="table table-condensed table-striped">
      <thead>
        <th style="width: 200px;">url</th>
        <th></th>
        <th style="width: 260px;">info</th>
        # for field in common_fields
        <th>
          {{ field }}
        </th>
        # endfor
        <th>jump_results</th>
      </thead>
      <tbody>
        # for result in results
        <tr>
          <td>
            <a class=url href="/task/{{ project }}:{{ result.taskid }}" target=_blank>{{ result.url }}</a><br/>
            # if result.type == 1:
              开始
            # elif result.type == 2:
              列表页
            # elif result.type == 3:
              详情页
            # elif result.type == 4:
              结束
            # endif
          </td>
          <td>
            <a class=open-url href="{{ result.url }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          # if result['fetch']['save']:
              <td title="taskid: {{ result.taskid }}
publish_date: {{ result['fetch']['save']['publish_date'] }}
title: {{ result['fetch']['save']['title'] }}" onclick="alert($(this).attr('title'))">
                # if result['fetch']['save']:
                    {{ result['fetch']['save']['publish_date'] }}<br/>
                    {{ result['fetch']['save']['title'] }}
                # endif
              </td>
          # else
              <td title="taskid: {{ result.taskid }}" onclick="alert($(this).attr('title'))">
              </td>
          # endif
          <td>
              # if result.status == 1:
                任务创建
              # elif result.status == 2:
                任务已发到scheduler2fetcher队列成功
              # elif result.status == 3:
                任务已发到scheduler2fetcher队列失败
              # elif result.status == 11:
                fetcher开始处理
              # elif result.status == 12:
                fetcher处理成功，任务已发送到fetcher2processor队列
              # elif result.status == 13:
                fetcher获取失败
              # elif result.status == 14:
                fetcher队列发送失败
              # elif result.status == 21:
                processor开始处理
              # elif result.status == 22:
                processor处理成功，任务发送到processor2result队列
              # elif result.status == 23:
                processor处理失败
              # elif result.status == 31:
                result_worker开始处理
              # elif result.status == 32:
                result_worker处理完成
              # elif result.status == 33:
                result_worker处理失败
              # endif
          </td>
          <td>
              <a title="{{ result['fetch'] }}" onclick="alert($(this).attr('title'));">查看</a>
          </td>
          <td>
              <a title="{{ result['process'] }}" onclick="alert($(this).attr('title'));">查看</a>
          </td>
          <td>
              # if result['scheduler_created_time'] != None:
                begin: {{ result['scheduler_created_time'] }}<br/>
              # endif
              # if result['scheduler_to_fetcher_time'] != None:
                end: {{ result['scheduler_to_fetcher_time'] }}<br/>
              # endif
          </td>
          <td>
              返回值：{{ result.fetcher_response_code }}<br/>
              # if result['fetcher_begin_time'] != None:
                  begin: {{ result['fetcher_begin_time'] }}<br/>
              # endif
              # if result['fetcher_end_time'] != None:
                  end: {{ result['fetcher_end_time'] }}<br/>
              # endif
          </td>
          <td>
              # if result['processor_begin_time'] != None:
                begin: {{ result['processor_begin_time'] }}<br/>
              # endif
              # if result['processor_end_time'] != None:
                end: {{ result['processor_end_time'] }}<br/>
              # endif
          </td>
          <td>
              # if result['result_worder_begin_time'] != None:
                  begin: {{ result['result_worder_begin_time'] }}<br/>
              # endif
              # if result['result_worder_end_time'] != None:
                  end: {{ result['result_worder_end_time'] }}<br/>
              # endif
          </td>
          <td>
            <a href="/results?project={{ project }}&group={{ group }}&taskid={{ result.taskid }}" target=_blank>Results</a>
          </td>
        # endfor
      </tbody>
    </table>

    <div class="pagination-wrap">
      <ul class="pagination">
        # set current_page = int(offset/limit) + (1 if offset%limit else 0)
        # set count = count if count is not none else 0
        # set total_page = int(count/limit) + (1 if count%limit else 0)
        <li class="{{ "disabled" if current_page - 1 < 0 else "" }}">
          <a href="javascript: void(0);" onclick="prev_page()">&laquo;</a>
        </li>
        # set prev = 0
        # for i in range(0, total_page):
        # if abs(i-0) < 2 or abs(i-total_page) < 3 or -2 < i-current_page < 5:
          # set prev = i
          <li class="{% if i == current_page %}active{% endif %}">
            <a href="javascript: void(0);" onclick="point_page({{ i + 1 }})">{{ i + 1 }}</a>
          </li>
        # elif prev == i-1:
        <li class="disabled"><a>…</a></li>
        # endif
        # endfor
        <li class="{{ "disabled" if current_page + 1 >= total_page else "" }}">
          <a href="javascript: void(0);" onclick="next_page()">&raquo;</a>
        </li>
      </ul>
    </div>
    <script type="application/javascript">
      if ('{{ status }}' != 'None') {
          $("#search_status").val('{{ status }}');
      }
      if ('{{ type }}' != 'None') {
          $("#search_type").val('{{ type }}');
      }
      $("#btn_submit").click(function() {
          $("#offset").val(0);
          $("#submit").trigger('click');
      })
      function point_page(page) {
          var page = parseInt(page);
          var limit = parseInt($("#limit").val());
          $("#offset").val((page - 1) * limit);
          $("#submit").trigger('click');
      }
      function next_page() {
          var current_page = parseInt($("#current_page").val());
          var total_page = parseInt($("#total_page").val());
          var limit = parseInt($("#limit").val());
          if ((current_page + 1) < total_page) {
              $("#offset").val((current_page + 1) * limit);
          } else {
              return;
          }
          $("#submit").trigger('click');
      }
      function prev_page() {
          var limit = parseInt($("#limit").val());
          var current_page = parseInt($("#current_page").val());
          if (current_page != 0) {
              $("#offset").val((current_page - 1) * limit);
          } else {
              return;
          }
          $("#submit").trigger('click');
      }
    </script>
  </body>
</html>
